{% extends 'base.html' %}
{% block content %}
    <style>
         #ret {
          display: inline-block;
          padding: 5px;
          border-radius: 5px;
          color: #fff;
          background-color: #1E90FF;
          border: none;
          margin: 0 5px;
          text-decoration: none;
          transition: background-color 0.3s ease;
        }

        #ret:hover {
          background-color: #0069d9;
        }
    </style>

    <h2>Unreturned Books</h2>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Publisher</th>
                <th>Current Inventory</th>
                <th>Number of Stock</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in toreturn_books %}
                <tr>
                    <td>{{ stock.book.title }}</td>
                    <td>{{ stock.book.author }}</td>
                    <td>{{ stock.book.publisher }}</td>
                    <td>{{ stock.book.inventory }}</td>
                    <td>{{ stock.stock_number }}</td>
                    <td>{{ stock.stock_price }}</td>
                    <td>
                        <form action="{% url 'return_book' stock.pk %}" method="post">
                        {% csrf_token %}
                            <input type="submit" value="Return" id="ret" onclick="alert('Returned Successfully')">
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}