{% extends 'base.html' %}
{% block content %}
    <style>
        #search-form {
          margin-bottom: 20px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
        }

        #search-form input[type="text"] {
          padding: 8px;
          border: 1px solid #ccc;
          border-radius: 4px;
          font-size: 16px;
          margin-right: 10px;
        }

        #search-form button[type="submit"] {
          padding: 8px;
          border: 1px solid #ccc;
          border-radius: 4px;
          font-size: 16px;
          background-color: #A9A9A9;
          color: #fff;
          cursor: pointer;
        }

        .pagination {
            margin-top: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 18px;
          }

        .pagination a {
            display: inline-block;
            padding: 10px;
            border-radius: 5px;
            color: #555;
            background-color: #fff;
            border: 1px solid #ccc;
            margin: 0 5px;
            text-decoration: none;
            transition: background-color 0.3s ease;
        }

        .pagination a:hover {
            background-color: #eee;
        }

        .current-page {
            font-weight: bold;
            margin: 0 10px;
        }

        #edit {
            display: inline-block;
            padding: 5px;
            border-radius: 5px;
            color: #fff;
            background-color: #1E90FF;
            border: none;
            margin: 0 5px;
            text-decoration: none;
            transition: background-color 0.3s ease;
          }

          #edit:hover {
            background-color: #0069d9;
          }
      </style>

    <h2>Book Inventory</h2>
    <form id="search-form" action="{% url 'inventory' %}" method="get">
        <input type="text" id="search-form" name="search" placeholder="Search...">
        <button type="submit" id="search-form">Search</button>
    </form>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Author</th>
                <th>Publisher</th>
                <th>ISBN</th>
                <th>Sales Price</th>
                <th>Inventory</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
            <tr>
                <td>{{ book.book_id }}</td>
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.publisher }}</td>
                <td>{{ book.isbn }}</td>
                <td>{{ book.sales_price }}</td>
                <td>{{ book.inventory }}</td>
                <td>
                    <form action="{% url 'edit_book' book.pk %}" method="post">
                        {% csrf_token %}
                        <input type="submit" value="Edit" id="edit">
                    </form>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="10">No books found.</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
      {% if is_paginated %}
          <div class="pagination">
              <span class="step-links">
              {% if books.has_previous %}
                  <a href="?page=1">&laquo; first</a>
                  <a href="?page={{ books.previous_page_number }}">&lsaquo; previous</a>
              {% endif %}

              <span class="current-page">
                  Page {{ books.number }} of {{ books.paginator.num_pages }}.
              </span>

              {% if books.has_next %}
                  <a href="?page={{ books.next_page_number }}">next &rsaquo;</a>
                  <a href="?page={{ books.paginator.num_pages }}">last &raquo;</a>
              {% endif %}
              </span>
          </div>
      {% endif %}
{% endblock %}