{% extends 'base.html' %}

{% block content %}
    <style>
         h2 {
            font-size: 2.5em;
            margin-bottom: 1em;
        }
        p {
            font-size: 1.2em;
            margin-bottom: 0.5em;
        }
        form {
            margin-top: 2em;
        }
        input[type=submit] {
            background-color: #4CAF50;
            color: #fff;
            padding: 0.5em 1em;
            border: none;
            border-radius: 5px;
            font-size: 1.2em;
            cursor: pointer;
        }
        input[type=submit]:hover {
            background-color: #3e8e41;
        }
    </style>

    <h2>Confirm your purchase</h2>
    <p><strong>Book ID:</strong> {{ book.book_id }}</p>
    <p><strong>Title:</strong> {{ book.title }}</p>
    <p><strong>Author:</strong> {{ book.author }}</p>
    <p><strong>Publisher:</strong> {{ book.publisher }}</p>
    <p><strong>ISBN:</strong> {{ book.isbn }}</p>
    <p><strong>Number of Purchase:</strong> {{ quantity }}</p>
    <p><strong>Total Price:</strong> {{ total_price }}</p>
    <form method="POST" action="{% url 'purchase_success' %}">
        {% csrf_token %}
        <input type="hidden" name="book_id" value="{{ book.book_id }}">
        <input type="hidden" name="quantity" value="{{ quantity }}">
        <input type="hidden" name="total_price" value="{{ total_price }}">
        <input type="submit" value="Confirm">
    </form>
{% endblock %}
