{% extends 'base.html' %}
{% block content %}
  <h1>Purchase Book</h1>
  <form method="GET" action="{% url 'purchase' %}">
    <label for="search_type">Search By:</label>
    <select name="search_type" id="search_type">
      <option value="book_id">Book ID</option>
      <option value="isbn">ISBN</option>
      <option value="title">Title</option>
    </select>
    <input type="text" name="search_text" id="search_text" placeholder="Enter search text" required>
    <br>
    <label for="purchase_number">Number of purchase:</label>
    <input type="number" name="purchase_number" id="purchase_number" required>
    <br>
    <input type="submit" value="Check">
  </form>
{% endblock %}

