{% extends 'base.html' %}
{% block content %}
    <style>
        input[type="text"],
        input[type="number"] {
          padding: 10px;
          border: 1px solid #ddd;
          border-radius: 4px;
          font-size: 16px;
          margin-bottom: 10px;
          width: 50%;
          box-sizing: content-box;
        }

        input[type="submit"] {
          background-color: #4CAF50;
          color: #fff;
          padding: 10px 20px;
          font-size: 18px;
          border: none;
          border-radius: 4px;
          cursor: pointer;
          transition: background-color 0.3s ease;
        }

        input[type="submit"]:hover {
          background-color: #3e8e41;
        }
    </style>

    <h2>Stock a New Book</h2>
    <form method="post" action="{% url 'stock_complete' %}">
    {% csrf_token %}
        <br>
        <label for="book_id">Book ID:</label>
        <input type="text" name="book_id"  id="book_id" required>
        <br>
        <label for="title">Title:</label>
        <input type="text" name="title"  id="title" required>
        <br>
        <label for="author">Author:</label>
        <input type="text" name="author"  id="author" required>
        <br>
        <label for="publisher">Publisher:</label>
        <input type="text" name="publisher"  id="publisher" required>
        <br>
        <label for="isbn">ISBN:</label>
        <input type="text" name="isbn"  id="isbn" required>
        <br>
        <label for="stock_price">Stock Price:</label>
        <input type="number" step="0.01" name="stock_price" id="stock_price" required>
        <br>
        <label for="number_of_stock">Number of Stock:</label>
        <input type="number" name="number_of_stock" id="number_of_stock" required>
        <br>
        <input type="submit" onclick="alert('Stock Successfully!')" value="Stock">
    </form>
{% endblock %}
